
.Game{
    margin: auto 3%;
    margin-top: 50px;
    padding:10px 10px;
    border: 1px solid black;
    height:500px;
    
    background-color: rgba(143, 140, 140, 0.719);
    border-radius: 2%;
    color: white;
    text-align: center;
   
    overflow: auto;
    
  justify-content: center;
  align-items: center;
    
}