.Navbar{
    list-style: none;
    height:40px;
    top: 0;
    left: 0;
    width: 100%;
    margin:0 auto;
    /* background-color: #282726; */
    display: flex;
    text-decoration: none;
    position: absolute;
    z-index: 80;
    
    
}

.item{
    
    display: inline-block;
    padding: 10px;
    color: #282726;
    justify-content: left;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
   
}

@media only screen and (max-width: 600px) {
    .Navbar{position: absolute;}
    .item{
        color: white;
    }
}