.Score{
    /* margin: auto; */
    width: 300px;
    border-radius: 8px;
    float: right;
    margin: auto;
    margin-top:50px;
    margin-right: 3%;
    background-color: #a7417be5;
    border: 2px black solid;
    
    
    
    /* padding: auto; */
    /* font-size: 10px; */
    color: white;
    

}