.Score{
    /* margin: auto; */
    width: 200px;
    border-radius: 8px;
    float: right;
    margin: 50px 6% 10px auto;
    background-color: #a7417be5;
    border: 2px black solid;
    padding: 5px;
    color: white;
    font-weight: bold;
    
    

}